doctype html
html
  head
    meta(charset='utf-8')
    script(type='text/javascript' src='jquery-3.1.0.min.js')
    script(type='text/javascript' src='common.js')
    link(href='style.css', rel='stylesheet')
  body
    .login-page
      .form
        form.register-form
          input(type='text', placeholder='name')
          input(type='password', placeholder='password')
          input(type='text', placeholder='email address')
          button create
          p.message
            | Already registered?
            a(href='#') Sign In
        form.login-form
          input(type='text', placeholder='username')
          input(type='password', placeholder='password')
          button login
          a(href='login/facebook') login with facebook
          p.message
            | Not registered?
            a(href='#') Create an account
